$fill: #ffffff;
$stroke: #e6ecf0;
$text: #000000;
$secondaryText: #9197a3;

.home-container {
  height: 100%;
  .middle-container {
    min-height: 100%;
    border: 1px solid $stroke;
    max-width: 600px;
    margin: 0 auto;
  }
}
